{% extends 'base.html' %}
{% block title %}Projects - Personal Webpage{% endblock %}
{% block header_h1 %}Projects{% endblock %}
{% block content %}
  <section class="projects-grid">
    <article class="project">
      <div class="screenshot-wrap">
        <img src="{{ url_for('static', filename='images/4Circles.png') }}" alt="Project 1 screenshot">
      </div>
      <h3>4 Circles Racing Webpage</h3>
      <p>This Project was our first attempt at creating a full html website. It showcases the correct usage of things like classes, navbars, css styles, and hovering capabilities.</p>
      <p><a class="btn" href="https://github.com/rj-atwal1/4CirclesWebsite.git">Repository</a> <a class="btn" href="https://ratwal.pages.iu.edu/FCRE6/index.html">Live Demo</a></p>
    </article>

    <article class="project">
      <div class="screenshot-wrap">
        <img src="{{ url_for('static', filename='images/Project 2 Screen.png') }}" alt="Project 2 screenshot">
      </div>
      <h3>Student Question Website</h3>
      <p>This project was created to help create an inclusive learning environment for students of all skill levels. The website lets students ask questions anonymously.</p>
      <p><a class="btn" href="https://github.com/rj-atwal1/Student-Question-Website.git">Repository</a> <a class="btn" href="https://ratwal.pages.iu.edu/sandbox/index.html">Live Demo</a></p>
    </article>
  </section>
{% endblock %}
