{% extends "mytemplate.html" %}
<!-- Extends the base layout defined in mytemplate.html -->

{% block body %}
<!-- Content inserted into the 'body' block of the base template -->
 <!-- In other words, this is the content that will be displayed on the page -->

<H1>Welcome to Page 1</H1>
<!-- Page-specific heading -->

<!-- Brief description of what this page demonstrates -->
This will go into the body section of the mytemplate.html used as the template for this webpage.

<!-- Static placeholder text specific to Page 1 -->
This will be just static text for page1.html. Page2.html will get more interesting.

<!-- End of the body block -->
 {% endblock %}