{% extends "mytemplate.html" %}

{% block body %}

<H1>Welcome to Page 2</H1>

<H2>{{ title }}</H2>

<ol>
    {% for ITEM in message_list %}  <!-- LOOP THROUGH THE LIST THAT WE PASSED  -->
        <li>
            {{ITEM.LastName}},
            {{ITEM.FirstName}}
        </li>  <!-- WITHIN EACH LIST GET THE DICTIONARY ENTRY FOR FIRST AND LAST NAME -->
    {% endfor %}
</ol>
<!-- Option 1: Use the url_for function to link to the image -->
<img src="{{url_for('static', filename='Phoebe.jpg')}}" align='middle' />

<!-- Option 2: Hard-code the location not using the url_for function -->
   <!--
   <img src="/static/Phoebe.jpg" align='middle' />
   -->

 {% endblock %}